@layer resets {

  button {
    appearance: none;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    line-height: 1;
    cursor: pointer;
  }

  button[disabled] {
    cursor: default;
  }

}