/* apply a natural box layout model */
html {
  font-size: var(--body-font-size);

  --scrollbar-width: 0px;  /* this is a fallback value; it will be overwritten by javascript at startup */
}

body {
  margin: 0;
  padding: 0;
  background: var(--color-off-white);
  font-family: var(--font-family-body);
  font-weight: normal;
  line-height: var(--body-line-height);
  text-size-adjust: none; /* prevent automatic text size inflation on smartphones running Chromium-based browsers */
  color: var(--color-black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  width: 100%;
}

/* Make sure textarea takes on height automatically */
textarea {
  height: auto;
  min-height: 50px;
  border-radius: 0;
}

/* Make select elements 100% of parent's width by default */
select {
  box-sizing: border-box;
  width: 100%;
  border-radius: 0;
}

ul {
  margin: 0;
  padding: 0;
}

/* Reset <button> styles created by most browsers */
button {
  padding: 0;
  appearance: none;
  border: 0;
  border-radius: 0;
  background: transparent;
  line-height: 1;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
}

pre {
  overflow: auto; /* Prevent text overflow on pre */
  font-family: monospace; /* Correct the inheritance and scaling of font size in all browsers */
  font-size: 1em; /* Correct the odd `em` font sizing in all browsers. */
}

figure {
  margin: 0;
}

small {
  font-size: 80%; /* Add the correct font size in all browsers */
}

/* Prevent `sub` and `sup` elements from affecting the line height in
all browsers. */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}