*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; /* disable blue highlight colour that can otherwise be seen upon tapping an element with cursor: pointer in mobile browser */
}

a {
  color: var(--color-blue);
  text-decoration: none;
}

/* Change the font styles in all browsers.
Remove the margin in Firefox and Safari. */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1;
  margin: 0;
}