@layer ensembl-elements {

  .ens-table {
    --_table-background: var(--table-background, var(--color-white));
    --_sort-arrow-width: 8px;
    --_sort-arrow-right-margin: 7px;
    border-collapse: collapse;
    background-color: var(--_table-background);


    .sticky-table-head tr {
      position: sticky;
      top: 0;
      background-color: var(--table-head-background, var(--_table-background));
      z-index: 1;
    }

    & th {
      --_left-padding: var(--table-column-head-padding-left, 24px);
      text-align: var(--table-column-head-text-align, left);
      padding-left: var(--_left-padding);
      padding-right: var(--table-column-head-padding-right, 32px);
      padding-top: var(--table-column-head-padding-top, 6px);
      padding-bottom: var(--table-column-head-padding-bottom, 6px);
      font-size: var(--table-head-font-size, 11px);
      font-weight: var(--table-head-font-weight, var(--font-weight-light));
      box-shadow: inset 0 -1.5px 0 var(--table-head-border-color, var(--color-blue));
      background-clip: padding-box;
    }

    & th:has(ens-table-sortable-column-head) {
      padding-left: calc(var(--_left-padding) - var(--_sort-arrow-width) - var(--_sort-arrow-right-margin));
    }

    & th.sortable button {
      display: inline-grid;
      grid-template-columns: repeat(2, auto);
      align-items: baseline;
      justify-content: start;
      column-gap: var( --_sort-arrow-right-margin);
      font-weight: inherit;
      text-align: left;
    }

    & th.sorting-applied {
      --table-head-font-weight: var(--font-weight-normal);
    }

    & th .sorting-arrow {
      width: var(--_sort-arrow-width);
      transform: rotate(180deg);
      fill: var(--color-grey);
    }

    & th .sorting-arrow-up {
      transform: unset;
    }

    & th .sorting-arrow-active {
      fill: var(--color-blue);
    }

    & td {
      padding-left: var(--table-cell-padding-left, 24px);
      padding-right: var(--table-cell-padding-right, 32px);
      padding-top: var(--table-cell-padding-top, 9px);
      padding-bottom: var(--table-cell-padding-bottom, 9px);
      vertical-align: middle;
    }

    & tr + tr {
      border-top: 1px solid var(--table-row-border-color, var(--color-grey));
    }

    & tr:last-of-type:not(thead tr) {
      border-bottom: 1px solid var(--table-row-border-color, var(--color-grey));
    }

  }

}